<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>
        <%= link_to t('.edit'), edit_edu_admin_event_item_path(@event_item), class: 'button' %>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="has-text-right"><%= EventItem.human_attribute_name(:title) %></td>
      <td><%= @event_item.title %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= EventItem.human_attribute_name(:videos) %></td>
      <td><%= @event_item.videos %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= EventItem.human_attribute_name(:documents) %></td>
      <td><%= @event_item.documents %></td>
    </tr>
  </tbody>
</table>
