<%= render 'error_messages', target: @event_item %>
<%= f.text_field :name %>
<%= f.file_field :videos, multiple: true %>
<%= render 'com/attachments/list_field', target: @event_item.videos %>
<%= f.file_field :documents, multiple: true %>
<%= render 'com/attachments/list_field', target: @event_item.documents %>
<div class="field is-horizontal">
  <%= f.collection_members_select :author_id, :id, :name, wrap: { all: false } %>
  <%= link_to admin_department_grants_path('EventItem', 'author_id', return_to: request.url), aria: { label: '老师部门设置' }, target: '_blank' do %>
    <i class="fa-solid fa-cog"></i>
  <% end %>
</div>
