<tr>
  <td class="text-right"><%= EventItem.human_attribute_name(:title) %></td>
  <td><%= @event_item.title %></td>
</tr>
<tr>
  <td class="has-text-right"><%= EventItem.human_attribute_name(:videos) %></td>
  <td><%= @event_item.videos %></td>
</tr>
<tr>
  <td class="has-text-right"><%= EventItem.human_attribute_name(:documents) %></td>
  <td><%= @event_item.documents %></td>
</tr>
