<%= render 'menu' %>
<%= render 'filter' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= Eventual::EventPlan.human_attribute_name(:booking_on) %></th>
      <th><%= Eventual::EventPlan.human_attribute_name(:time_item) %></th>
      <th>
        <%= EventPlan.human_attribute_name(:place_id) %>
        <%= link_to admin_organ_places_path(default_params), aria: { label: '教室设置' }, target: '_blank' do %>
          <i class="fa-solid fa-cog"></i>
        <% end %>
      </th>
      <th><%= Eventual::EventPlan.human_attribute_name(:event_item_id) %></th>
      <th><%= Eventual::EventPlan.human_attribute_name(:teacher_id) %></th>
      <th><%= Eventual::EventPlan.human_attribute_name(:qrcode) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @event_plans.each do |event_plan| %>
    <tr>
      <td>
        <%= event_plan.booking_on %>
        <span class="grey text">（<%= event_plan.booking_on.to_fs(:week) %>）</span>
      </td>
      <td>
        <span class="ui label"><%= event_plan.time_item.start_at.to_fs(:time) %></span>
        <span class="ui label"><%= event_plan.time_item.finish_at.to_fs(:time) %></span>
      </td>
      <td>
        <%= link_to edit_admin_event_crowd_plan_path(@event_crowd, event_plan, item: 'place'), aria: { label: '设置教室' }, class: 'button is-small is-rounded is-light' do %>
          <i class="fa-regular fa-building"></i>
        <% end %>
        <%= event_plan.place&.name %>
      </td>
      <td>
        <%= link_to edit_admin_event_crowd_plan_path(@event_crowd, event_plan, item: 'event_item'), aria: { label: '设置课节' }, class: 'button is-small is-rounded is-light' do %>
          <i class="fa-regular fa-rss"></i>
        <% end %>
        <%= event_plan.event_item&.title %>
      </td>
      <td>
        <%= link_to edit_admin_event_crowd_plan_path(@event_crowd, event_plan, item: 'teacher'), aria: { label: '设置老师' }, class: 'button is-small is-rounded is-light' do %>
          <i class="green male icon"></i>
        <% end %>
        <%= event_plan.teacher&.name %>
      </td>
      <td>
        <% if event_plan.wechat_response %>
          <%= image_tag event_plan.wechat_response.qrcode_file, class: 'ui small image' if event_plan.wechat_response.qrcode_file.attached? %>
        <% else %>
          <%= link_to qrcode_admin_event_crowd_plan_path(@event_crowd, event_plan), method: :patch, aria: { label: t('.qrcode') }, class: 'button is-small is-rounded is-light' do %>
            <i class="fa-solid fa-qrcode"></i>
          <% end %>
        <% end %>
        <%= link_to admin_event_plan_event_item_members_path(event_plan), aria: { label: '点名' }, class: 'button is-small is-rounded is-light' do %>
          <i class="users icon"></i>
        <% end %>
      </td>
      <td>
        <%= link_to admin_event_crowd_plan_path(@event_crowd, event_plan), method: :delete, aria: { label: t('.destroy.title') }, data: { turbo_confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @event_plans %>
