<div class="ui segment breadcrumb">
  <%= link_to 'Back', admin_time_lists_path, class: 'section' %>
  <i class="fas fa-angle-right divider"></i>
  <div class="active section">Add</div>
</div>

<div class="ui top attached borderless menu">
  <div class="header item">Event Admin Time Items</div>
  <div class="right menu">
    <div class="item">
      <%= link_to 'New Event Admin Time Item', new_admin_time_list_time_item_path(@time_list), class: 'ui teal button', remote: true %>
    </div>
  </div>
</div>

<%= render 'filter' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= TimeItem.human_attribute_name(:id) %></th>
      <th><%= TimeItem.human_attribute_name(:start_at) %></th>
      <th><%= TimeItem.human_attribute_name(:finish_at) %></th>
      <th><%= TimeItem.human_attribute_name(:position) %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @time_items.each do |time_item| %>
    <tr>
      <td><%= time_item.id %></td>
      <td><%= time_item.start_at.to_s(:time) %></td>
      <td><%= time_item.finish_at.to_s(:time) %></td>
      <td><%= time_item.position %></td>
      <td class="ui labels">
        <%= link_to edit_admin_time_list_time_item_path(@time_list, time_item), aria: { label: t('.edit') }, class: 'ui mini circular icon button', remote: true do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_time_list_time_item_path(@time_list, time_item), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
          <i class="times icon"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @time_items %>
