<th><%= Eventual::Plan.human_attribute_name(:id) %></th>
<th><%= Eventual::Plan.human_attribute_name(:place_id) %></th>
<th><%= Eventual::Plan.human_attribute_name(:repeat_type) %></th>
<th><%= Eventual::Plan.human_attribute_name(:repeat_days) %></th>
<th>
  <p><%= Eventual::Plan.human_attribute_name(:next_start_time) %></p>
  <p><%= Eventual::Plan.human_attribute_name(:next_finish_time) %></p>
</th>
