<tr>
  <td class="has-text-right"><%= PlanAttender.human_attribute_name(:member) %></td>
  <td><%= @plan_attender.member %></td>
</tr>
<tr>
  <td class="has-text-right"><%= PlanAttender.human_attribute_name(:state) %></td>
  <td><%= @plan_attender.state %></td>
</tr>
<tr>
  <td class="has-text-right"><%= PlanAttender.human_attribute_name(:attended) %></td>
  <td><%= @plan_attender.attended %></td>
</tr>
<tr>
  <td class="has-text-right"><%= PlanAttender.human_attribute_name(:created_at) %></td>
  <td><%= @plan_attender.created_at %></td>
</tr>
