<table class="table is-hoverable is-fullwidth">
  <tr>
    <td class="text-right"><%= PlanItem.human_attribute_name(:qrcode) %></td>
    <td>
      <% if @plan_item.wechat_response %>
        <%= image_tag @plan_item.qrcode_url, class: 'ui small image' %>
      <% else %>
        <%= link_to qrcode_plan_item_path(@plan_item.plan_type, @plan_item.plan_id, @plan_item), method: :patch, aria: { label: t('.qrcode') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fa-solid fa-qrcode"></i>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>

<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= Eventual::PlanAttender.human_attribute_name(:attender_id) %></th>
      <th><%= Eventual::PlanAttender.human_attribute_name(:state) %></th>
      <th><%= Eventual::PlanAttender.human_attribute_name(:created_at) %></th>
      <th>
        <%= PlanAttender.human_attribute_name(:attended) %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @plan_participants.each do |plan_participant| %>
    <tr>
      <td><%= plan_participant.member.real_name %></td>
      <td><%= plan_participant.state %></td>
      <td><time data-controller="time"><%= plan_participant.created_at.to_s(:rfc822) %></time></td>
      <td>
        <div class="ui toggle checkbox">
          <% if @plan_item.attenders.include?("#{plan_participant.participant_type}_#{plan_participant.participant_id}") %>
            <%= check_box_tag :plan_participant_id, plan_participant.id, true, data: { method: :delete, url: admin_plan_item_plan_attenders_path(@plan_item), submit: true }, id: nil %>
          <% else %>
            <%= check_box_tag :plan_participant_id, plan_participant.id, false, data: { method: :post, url: admin_plan_item_plan_attenders_path(@plan_item), submit: true }, id: nil %>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @plan_participants %>
