<td><%= model.name %></td>
<td><%= model.place_taxon&.name %></td>
<td>
  <span class="button" style="background-color: <%= model.color %>"><%= model.color %></span>
</td>
<td>
  <%= link_to({ controller: 'seats', place_id: model.id }, aria: { label: t('.seats.index.title') }) do %>
    <span><%= model.seats_count %></span>
    <i class="fa-solid fa-chair"></i>
  <% end %>
</td>
