<tr>
  <td class="text-right"><%= Crowd.human_attribute_name(:name) %></td>
  <td><%= @crowd.name %></td>
</tr>
<tr>
  <td class="text-right">学生</td>
  <td>
    <table class="ui very basic table">
      <% @crowd_members.each do |crowd_member| %>
      <tr>
        <td>
          <span class="ui label"><%= crowd_member.state_i18n %></span>
        </td>
        <td><%= crowd_member.member.real_name %></td>
        <td><%= crowd_member.member.nick_name %></td>
      </tr>
      <% end %>
    </table>
  </td>
</tr>
