<th><%= Eventual::Event.human_attribute_name(:event_taxon_id) %></th>
<th>
  <%= link_to Eventual::Event.human_attribute_name(:name), filter_params('name-asc': 2, except: ['name-asc']) %>
</th>
<th><%= Eventual::Event.human_attribute_name(:members_count) %></th>
<th><%= Eventual::Event.human_attribute_name(:price) %></th>
<th>
  <p><%= Eventual::Event.human_attribute_name(:repeat_type) %></p>
  <p><%= Eventual::Event.human_attribute_name(:repeat_days) %></p>
</th>
<th></th>
