<td><%= model.event_taxon&.name %></td>
<td>
  <%= link_to({ action: 'show', id: model.id }, class: 'is-several') do %>
    <%= image_tag model.logo, class: 'image is-32x32' if model.logo.attached? %>
    <span><%= model.name %></span>
  <% end %>
</td>
<td><%= model.members_count %></td>
<td><%# model.price %></td>
<td>
  <p><%= model.repeat_type_i18n %></p>
  <p><%= model.repeat_days %></p>
</td>
<td>
  <%= link_to t('model.admin.event_participants.index.title'), { controller: 'event_participants', event_id: model.id }, class: 'button is-small is-rounded is-light' %>
  <%= link_to({ controller: 'event_items', event_id: model.id }, aria: { label: '课程内容' }, class: 'button is-small is-rounded is-light') do %>
    <i class="fa-solid fa-list"></i>
  <% end %>
</td>
