<tr>
  <td class="has-text-right"><%= Seat.human_attribute_name(:name) %></td>
  <td><%= @seat.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Seat.human_attribute_name(:max_members) %></td>
  <td><%= @seat.max_members %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Seat.human_attribute_name(:min_members) %></td>
  <td><%= @seat.min_members %></td>
</tr>
