<th><%= TimeList.human_attribute_name(:name) %></th>
<th>
  <p><%= TimeList.human_attribute_name(:item_minutes) %></p>
  <p><%= TimeList.human_attribute_name(:interval_minutes) %></p>
</th>
<th><%= TimeList.human_attribute_name(:default) %></th>
<th><%= TimeList.human_attribute_name(:time_items) %></th>
<th></th>
