<table class="ui very basic table">
  <tbody>
  <% time_list.time_items.each do |time_item| %>
    <tr>
      <td><%= time_item.start_at.to_s(:time) %></td>
      <td><%= time_item.finish_at.to_s(:time) %></td>
      <td class="ui labels">
        <%= link_to edit_admin_time_list_time_item_path(time_list, time_item), data: { tooltip: t('.edit') }, class: 'ui mini circular icon button', remote: true do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_time_list_time_item_path(time_list, time_item), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">
        <%= link_to new_admin_time_list_time_item_path(time_list), class: 'ui mini teal button', remote: true do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </td>
    </tr>
  </tfoot>
</table>
