<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= TimeList.human_attribute_name(:name) %></th>
      <th>
        <p><%= TimeList.human_attribute_name(:item_minutes) %></p>
        <p><%= TimeList.human_attribute_name(:interval_minutes) %></p>
      </th>
      <th><%= TimeList.human_attribute_name(:default) %></th>
      <th><%= TimeList.human_attribute_name(:time_items) %></th>
      <th>
        <%= link_to new_admin_time_list_path, remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @time_lists.each do |time_list| %>
    <tr>
      <td><%= time_list.name %></td>
      <td>
        <p><%= time_list.item_minutes %></p>
        <p><%= time_list.interval_minutes %></p>
      </td>
      <td>
        <div class="ui toggle checkbox">
          <%= check_box_tag '[time_list]default', nil, time_list.default, data: { method: :patch, remote: true, url: admin_time_list_path(time_list), submit: true }, id: nil %>
        </div>
      </td>
      <td class="selectable">
        <%= render partial: 'time_items', locals: { time_list: time_list } %>
      </td>
      <td>
        <%= link_to edit_admin_time_list_path(time_list), aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light', remote: true do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_time_list_path(time_list), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @time_lists %>
