<tr>
  <td><%= place.name %></td>
  <td><%= place.place_taxon&.name %></td>
  <td>
    <span class="button" style="background-color: <%= place.color %>;"><%= place.color %></span>
  </td>
  <td><%= place.seats_count %></td>
  <td>
    <%= link_to 'entity', admin_entity_items_path('Place', place.id) %>
    <%= link_to edit_admin_place_path(place), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to admin_place_seats_path(place), aria: { label: t('event.admin.seats.index.title') }, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-chair"></i>
    <% end %>
    <%= link_to admin_place_path(place), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
