<td><%= model.name %></td>
<td><%= model.place_taxon&.name %></td>
<td>
  <span class="button" style="background-color: <%= model.color %>"><%= model.color %></span>
</td>
<td><%= model.seats_count %></td>
