<% content_for :breadcrumb do %>
<div class="ui basic segment breadcrumb">
  <div class="active section"><%= t('booking.admin.places.index.title') %></div>
</div>
<% end %>

<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= Place.human_attribute_name(:name) %></th>
      <th><%= Place.human_attribute_name(:color) %></th>
      <th><%= Place.human_attribute_name(:seats_count) %></th>
      <th>
        <%= link_to new_admin_place_path, class: 'ui mini primary button', remote: true do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @places.each do |place| %>
    <tr>
      <td><%= place.name %></td>
      <td>
        <span class="ui label" style="background-color: <%= place.color %>;"><%= place.color %></span>
      </td>
      <td><%= place.seats_count %></td>
      <td>
        <%= link_to edit_admin_place_path(place), aria: { label: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_place_seats_path(place), aria: { label: t('event.admin.seats.index.title') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-chair"></i>
        <% end %>
        <%= link_to admin_place_path(place), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @places %>
