<% content_for :breadcrumb do %>
  <ul>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
<% end %>

<%= render 'filter_form' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= Place.human_attribute_name(:name) %></th>
      <th>
        <%= Place.human_attribute_name(:place_taxon) %>
        <%= link_to admin_place_taxons_path, aria: { label: '分类设置' }, target: '_blank' do %>
          <i class="fas fa-cog"></i>
        <% end %>
      </th>
      <th><%= Place.human_attribute_name(:color) %></th>
      <th><%= Place.human_attribute_name(:seats_count) %></th>
      <th>
        <%= link_to new_admin_place_path, remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @places.each do |place| %>
    <tr>
      <td><%= place.name %></td>
      <td><%= place.place_taxon&.name %></td>
      <td>
        <span class="button" style="background-color: <%= place.color %>;"><%= place.color %></span>
      </td>
      <td><%= place.seats_count %></td>
      <td>
        <%= link_to edit_admin_place_path(place), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_place_seats_path(place), aria: { label: t('event.admin.seats.index.title') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-chair"></i>
        <% end %>
        <%= link_to admin_place_path(place), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @places %>
