<tr>
  <td class="has-text-right"><%= PlaceTaxon.human_attribute_name(:name) %></td>
  <td><%= @place_taxon.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= PlaceTaxon.human_attribute_name(:position) %></td>
  <td><%= @place_taxon.position %></td>
</tr>
<tr>
  <td class="has-text-right"><%= PlaceTaxon.human_attribute_name(:places_count) %></td>
  <td><%= @place_taxon.places_count %></td>
</tr>
