<% content_for :breadcrumb do %>
<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('event.admin.places.index.title'), admin_places_path %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
<% end %>

<%= render 'filter_form' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= PlaceTaxon.human_attribute_name(:name) %></th>
      <th><%= PlaceTaxon.human_attribute_name(:position) %></th>
      <th><%= PlaceTaxon.human_attribute_name(:places_count) %></th>
      <th>
        <%= link_to new_admin_place_taxon_path, remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @place_taxons.each do |place_taxon| %>
    <tr>
      <td><%= place_taxon.name %></td>
      <td><%= place_taxon.position %></td>
      <td><%= place_taxon.places_count %></td>
      <td>
        <%= link_to 'taxon', admin_taxon_items_path('PlaceTaxon', place_taxon.id) %>
        <%= link_to admin_place_taxon_path(place_taxon), aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_admin_place_taxon_path(place_taxon), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_place_taxon_path(place_taxon), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @place_taxons %>
