<tr id="time_plan_<%= @time_plan.id %>">
  <td>
    <%= form_tag time_plan_path(@time_plan.plan_type, @time_plan.plan_id, @time_plan), method: :patch, id: 'time_plan_form' do %><% end %>
  </td>
  <td>
    <div class="ui input">
      <%= date_field_tag :'time_plan[begin_on]', @time_plan.begin_on, form: 'time_plan_form', data: { remote: true, url: time_plans_path(@time_plan.plan_type, @time_plan.plan_id) } %>
    </div>
  </td>
  <td>
    <div class="ui input">
      <%= date_field_tag :'time_plan[end_on]', @time_plan.end_on, max: '2019-04-20', form: 'time_plan_form', data: { remote: true, url: time_plans_path(@time_plan.plan_type, @time_plan.plan_id) } %>
    </div>
  </td>
  <td>
    <%= select_tag :'time_plan[repeat_type]', options_for_select(TimePlan.options_i18n(:repeat_type), @time_plan.repeat_type || 'once'), { form: 'time_plan_form' } %>
  </td>
  <td>
    <%= select_tag :'time_plan[time_list_id]', options_from_collection_for_select(@time_lists, :id, :name, @time_plan.time_list_id), form: 'time_plan_form' %>
  </td>
  <td>
    <%= submit_tag t('.confirm'), class: 'ui mini primary button', from: 'time_plan_form' %>
  </td>
</tr>



