<table class="ui attached selectable table">
  <thead>
    <tr>
      <th class="one wide"><%= TimePlan.human_attribute_name(:id) %></th>
      <th class="three wide"><%= TimePlan.human_attribute_name(:begin_on) %></th>
      <th class="three wide"><%= TimePlan.human_attribute_name(:end_on) %></th>
      <th class="three wide"><%= TimePlan.human_attribute_name(:repeat_type) %></th>
      <th class="three wide">
        <%= TimePlan.human_attribute_name(:time_list_id) %>
        <%= link_to admin_time_lists_path, data: { tooltip: '设置' }, target: '_blank' do %>
          <i class="fas fa-cog"></i>
        <% end %>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody id="time_plan_tbody">
  <% @time_plans.each do |time_plan| %>
    <%= render partial: 'booking/time_plans/show_item', locals: { time_plan: time_plan } %>
  <% end %>
  <% if @time_plan.end_on %>
    <tr id="time_plan_new">
      <td colspan="6">
        <%= link_to new_time_plan_path(@time_plan.plan_type, @time_plan.plan_id), data: { tooltip: t('.new') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  <% if @time_plans.blank? %>
    <%= render partial: 'booking/time_plans/edit_item', locals: { time_plan: @time_plan } %>
  <% end %>
  </tbody>
</table>

<div class="ui bottom attached segment">
  <div id="calendar"></div>
</div>
