<table class="ui attached table">
  <thead>
    <tr>
      <th class="one wide"><%= TimePlan.human_attribute_name(:id) %></th>
      <th class="three wide"><%= TimePlan.human_attribute_name(:begin_on) %></th>
      <th class="three wide"><%= TimePlan.human_attribute_name(:end_on) %></th>
      <th class="three wide"><%= TimePlan.human_attribute_name(:repeat_type) %></th>
      <th class="three wide"><%= TimePlan.human_attribute_name(:time_list_id) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @time_plans.each do |time_plan| %>
    <%= render partial: 'booking/time_plans/show_item', locals: { time_plan: time_plan } %>
  <% end %>
  </tbody>
</table>

<div class="ui bottom attached segment">
  <div id="calendar"></div>
</div>
