<tr id="time_plan_<%= time_plan.id %>">
  <td>
    <%= form_tag time_plan_path(@time_plan.plan_type, @time_plan.plan_id, @time_plan), method: :patch, remote: true, id: "time_plan_form_#{@time_plan.id}" do %><% end %>
    <%= time_plan.id %>
  </td>
  <td>
    <%= time_plan.begin_on %>
  </td>
  <td>
    <%= time_plan.end_on %>
  </td>
  <td>
    <%= time_plan.repeat_type_i18n %>
  </td>
  <td>
    <%= time_plan.time_list&.name %>
  </td>
  <td>
    <%= link_to edit_time_plan_path(time_plan.plan_type, time_plan.plan_id, time_plan.id), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to time_plan_path(time_plan.plan_type, time_plan.plan_id, time_plan.id), data: { tooltip: '切换' }, remote: true, class: 'ui mini circular icon button' do %>
      <i class="fas fa-hand-point-right"></i>
    <% end %>
  </td>
</tr>
