<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= TimePlan.human_attribute_name(:id) %></th>
      <th><%= TimePlan.human_attribute_name(:room_id) %></th>
      <th><%= TimePlan.human_attribute_name(:repeat_type) %></th>
      <th><%= TimePlan.human_attribute_name(:repeat_days) %></th>
      <th>
        <p><%= TimePlan.human_attribute_name(:next_start_time) %></p>
        <p><%= TimePlan.human_attribute_name(:next_finish_time) %></p>
      </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @time_plans.each do |time_plan| %>
    <tr>
      <td><%= time_plan.id %></td>
      <td><%= time_plan.room_id %></td>
      <td><%= time_plan.repeat_type %></td>
      <td><%= time_plan.repeat_days %></td>
      <td>
        <p><time><%= time_plan.next_start_time&.to_s(:rfc822) %></time></p>
        <p><time><%= time_plan.next_finish_time&.to_s(:rfc822) %></time></p>
      </td>
      <td class="ui labels">
        <%= link_to time_plan_path(params[:plan_type], params[:plan_id], time_plan), method: :delete, data: { tooltip: t('.destroy'), confirm: 'Are you sure?' }, class: 'ui red mini icon button' do %>
          <i class="times icon"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
