<div class="ui top attached mini steps">
  <% @time_plans.each do |time_plan| %>
    <%= link_to time_plan_path(params[:plan_type], params[:plan_id], time_plan.id), class: 'active step' do %>
      <div class="content">
        <%= time_plan.begin_on %>~<%= time_plan.end_on %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="ui bottom attached segment">
  <%= form_tag time_plans_path(params[:plan_type], params[:plan_id]), method: :post, id: 'time_plan_form' do %><% end %>
  <div class="ui left icon input">
    <%= date_field_tag :'time_plan[begin_on]', @time_plan.begin_on, form: 'time_plan_form', data: { remote: true, url: time_plans_path(params[:plan_type], params[:plan_id]), filter: true } %>
    <i class="hourglass start icon"></i>
  </div>
  <div class="ui left icon input">
    <%= date_field_tag :'time_plan[end_on]', @time_plan.end_on, form: 'time_plan_form', data: { remote: true, url: time_plans_path(params[:plan_type], params[:plan_id]), filter: true } %>
    <i class="hourglass end icon"></i>
  </div>
  <%= select_tag :'time_plan[room_id]', options_from_collection_for_select(@rooms, :id, :name), form: 'time_plan_form' %>
  <%= select_tag :'time_plan[repeat_type]', options_for_select(TimePlan.options_i18n(:repeat_type), @time_plan.repeat_type || 'once'), { form: 'time_plan_form', data: { title: 'repeat_type' } } %>
  <%= select_tag :'time_plan[time_list_id]', options_from_collection_for_select(@time_lists, :id, :name), form: 'time_plan_form' %>
 
  
  <div id="calendar"></div>
</div>
