<% content_for :breadcrumb do %>
  <div class="ui basic segment breadcrumb">
    <%= link_to t('event.admin.events.index.title'), admin_events_path, class: 'section' %>
    <i class="fas fa-angle-right divider"></i>
    <div class="active section"><%= t('event.admin.event_taxons.index.title') %></div>
  </div>
<% end %>

<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= EventTaxon.human_attribute_name(:name) %></th>
      <th>
        <%= link_to new_admin_event_taxon_path, remote: true, class: 'ui mini primary button' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @event_taxons.each do |event_taxon| %>
    <tr>
      <td><%= event_taxon.name %></td>
      <td>
        <%= link_to edit_admin_event_taxon_path(event_taxon), aria: { label: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_event_taxon_path(event_taxon), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @event_taxons %>
