<% content_for :breadcrumb do %>
  <ul>
    <li><%= link_to t('event.admin.events.index.title'), admin_events_path %></li>
    <li class="is-active"><%= t('event.admin.event_taxons.index.title') %></li>
  </ul>
<% end %>

<%= render 'filter_form' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= EventTaxon.human_attribute_name(:name) %></th>
      <th>
        <%= link_to new_admin_event_taxon_path, remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @event_taxons.each do |event_taxon| %>
    <tr>
      <td><%= event_taxon.name %></td>
      <td>
        <%= link_to edit_admin_event_taxon_path(event_taxon), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_event_taxon_path(event_taxon), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @event_taxons %>
