<div class="ui modal" id="modal">
  <i class="fas fa-times close"></i>
  <div class="content">
    <%= form_with model: @event_crowd, url: admin_event_event_crowds_path(@event) do |f| %>
      <%= render 'shared/error_messages', target: @event_crowd %>
      <%= f.collection_select :crowd_id, @crowds, :id, :name %>
      <%= f.collection_select :room_id, @rooms, :id, :name %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
