<tr>
  <td class="has-text-right"><%= Eventual::TimeItem.human_attribute_name(:start_at) %></td>
  <td><%= @time_item.start_at %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Eventual::TimeItem.human_attribute_name(:finish_at) %></td>
  <td><%= @time_item.finish_at %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Eventual::TimeItem.human_attribute_name(:position) %></td>
  <td><%= @time_item.position %></td>
</tr>
