<% content_for :breadcrumb do %>
  <div class="ui basic segment breadcrumb">
    <%= link_to t('edu.admin.events.index.title'), admin_events_path, class: 'section' %>
    <i class="fas fa-angle-right divider"></i>
    <div class="section"><%= @event.title %></div>
    <i class="fas fa-angle-right divider"></i>
    <div class="active section"><%= t('.title') %></div>
  </div>
<% end %>

<%= render 'nav_event' %>

<div class="ui attached segment">
  <%= render 'filter' %>
</div>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th><%= Profile.human_attribute_name(:name) %></th>
      <th><%= EventMember.human_attribute_name(:created_at) %></th>
      <th><%= EventMember.human_attribute_name(:state) %></th>
      <th><%= EventMember.human_attribute_name(:score) %></th>
      <th>
        <%= link_to find_data_list_table_lists_path('EventMemberExport', params.permit(:event_id).merge(timestamp: @event.timestamp)), class: 'ui mini blue button', remote: true do %>
          <i class="file excel icon"></i><%= t('.export') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @event_members.each do |event_member| %>
    <tr>
      <td><%= event_member.member.real_name %></td>
      <td><time><%= event_member.created_at.to_s(:rfc822) %></time></td>
      <td>
        <span><%= event_member.state_i18n %></span>
        <% if event_member.request_quit? %>
          <%= link_to 'Approve', quit_admin_event_event_member_path(@event, event_member), method: :patch %>
        <% end %>
        <% if ['request_quit', 'quit'].include? event_member.state %>
          <span class="grey text">(<%= event_member.quit_note %>)</span>
        <% end %>
      </td>
      <td>
        <%= event_member.score %>
      </td>
      <td></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @event_members %>
