<div class="ui modal" id="modal">
  <i class="fas fa-times close"></i>
  <div class="content">
    <%= form_with model: @event_plan, url: admin_event_crowd_plan_path(@event_crowd, @event_plan) do |f| %>
      <%= render 'shared/error_messages', target: @event_plan %>
      <% if params[:item] == 'event_item' %>
      <%= f.collection_select :event_item_id, @event_crowd.event_items, :id, :title %>
      <% end %>
      <% if params[:item] == 'teacher' %>
        <%= f.collection_members_select :teacher_id, :id, :name, { include_blank: true } %>
      <% end %>
      <% if params[:item] == 'place' %>
        <div class="inline fields">
        <%= f.collection_select :place_id, @places, :id, :name, { include_blank: true, on: { wrap_all: false } } %>
        <%= link_to admin_organ_places_path(default_params), data: { tooltip: '教室设置' }, target: '_blank' do %>
          <i class="fas fa-cog"></i>
        <% end %>
        </div>
      <% end %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
