<table class="ui very basic large table">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit'), edit_admin_event_plan_path(@event_plan), class: 'ui mini blue right floated button', remote: true %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="right aligned"><%= EventPlan.human_attribute_name(:event_item) %></td>
      <td><%= @event_plan.event_item %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= EventPlan.human_attribute_name(:booking_on) %></td>
      <td><%= @event_plan.booking_on %></td>
    </tr>
  </tbody>
</table>
