<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th class="one wide"></th>
      <th class="three wide"><%= PlanTime.human_attribute_name(:begin_on) %></th>
      <th class="three wide"><%= PlanTime.human_attribute_name(:repeat_type) %></th>
      <th class="three wide">
        <%= Plan.human_attribute_name(:time_list_id) %>
        <%= link_to admin_time_lists_path, aria: { label: '设置' }, target: '_blank' do %>
          <i class="fa-solid fa-cog"></i>
        <% end %>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody id="time_plan_tbody">
  <% @time_plans.each do |plan| %>
    <%= render partial: 'booking/time_plans/show_item', locals: { plan: plan } %>
  <% end %>
  <tr id="time_plan_new">
    <td colspan="6">
      <%= link_to new_time_plan_path(@plan.plan_type, @plan.plan_id), aria: { label: t('.new') }, class: 'button is-small is-rounded is-light' do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    </td>
  </tr>
  <% if @time_plans.blank? %>
    <%= render partial: 'booking/time_plans/edit_item', locals: { plan: @plan } %>
  <% end %>
  </tbody>
</table>
