<table class="table is-borderless is-fullwidth">
  <tbody>
  <% time_list.time_items.each do |time_item| %>
    <tr>
      <td><%= time_item.start_at.to_fs(:time) %></td>
      <td><%= time_item.finish_at.to_fs(:time) %></td>
      <td>
        <%= link_to edit_admin_time_list_time_item_path(time_list, time_item), aria: { label: t('.edit.title') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fa-solid fa-pencil"></i>
        <% end %>
        <%= link_to admin_time_list_time_item_path(time_list, time_item), method: :delete, aria: { label: t('.destroy.title') }, data: { turbo_confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">
        <%= link_to new_admin_time_list_time_item_path(time_list), class: 'ui mini teal button' do %>
          <i class="fa-solid fa-plus"></i><%= t('.new.title') %>
        <% end %>
      </td>
    </tr>
  </tfoot>
</table>
