<table class="ui very basic large table">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit'), edit_booking_time_booking_path(@time_booking), class: 'ui mini blue right floated button', remote: true %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="right aligned"><%= TimeBooking.human_attribute_name(:time_list_id) %></td>
      <td><%= @time_booking.time_list_id %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= TimeBooking.human_attribute_name(:time_item_id) %></td>
      <td><%= @time_booking.time_item_id %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= TimeBooking.human_attribute_name(:place_id) %></td>
      <td><%= @time_booking.place_id %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= TimeBooking.human_attribute_name(:booking_on) %></td>
      <td><%= @time_booking.booking_on %></td>
    </tr>
  </tbody>
</table>
