<%= render 'filter' %>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th><%= TimeBooking.human_attribute_name(:id) %></th>
      <th><%= TimeBooking.human_attribute_name(:booking_on) %></th>
      <th><%= TimeBooking.human_attribute_name(:time_item_id) %></th>
      <th><%= TimeBooking.human_attribute_name(:room_id) %></th>
      <th>
        <%= link_to new_time_booking_path(params[:booked_type], params[:booked_id]), class: 'ui mini primary button', remote: true do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @time_bookings.each do |time_booking| %>
    <tr>
      <td><%= time_booking.id %></td>
      <td><%= time_booking.booking_on %></td>
      <td>
        <span class="ui label"><%= time_booking.time_item.start_at.to_s(:time) %></span>
        <i class="yellow arrow right icon"></i>
        <span class="ui label"><%= time_booking.time_item.finish_at.to_s(:time) %></span>
      </td>
      <td><%= time_booking.room_id %></td>
      <td>
        <%= link_to edit_time_booking_path(params[:booked_type], params[:booked_id], time_booking), data: { tooltip: t('.edit') }, class: 'ui mini circular icon button', remote: true do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to time_booking_path(params[:booked_type], params[:booked_id], time_booking), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @time_bookings %>
