<%= form_with model: model, url: { action: 'update_plan' }, class: 'modal-card' do |f| %>
  <header class="modal-card-head">
    <p class="modal-card-title"><%= t('.title') %></p>
    <button type="button" data-action="modal#close" class="delete"></button>
  </header>
  <section data-controller="input" class="modal-card-body">
    <%= render 'error_messages', target: f.object if f.object.errors.present? %>
    <%= f.select :repeat_type, options_for_select(Eventual::Event.options_i18n(:repeat_type), f.object.repeat_type), {}, data: { action: 'input#filter' } %>
  </section>
  <footer class="modal-card-foot is-block">
    <%= f.submit %>
  </footer>
<% end %>
