<div class="field is-horizontal">
  <%= f.label :event_taxon_id %>
  <div class="field-body">
    <%= f.collection_select :event_taxon_id, @event_taxons, :id, :name, label: false, wrap: { all: nil, select: 'field is-narrow > select is-fullwidth' } %>
    <%= button_to t('.new.title'), { controller: 'event_taxons', action: 'new' }, class: 'button' %>
  </div>
</div>
<%= f.text_field :name %>
<%= f.number_field :price %>
<%= f.text_area :description %>
<%= f.file_field :logo %>
