<tr>
  <td><%= event.type_i18n %></td>
  <td><%= event.event_taxon&.name %></td>
  <td><%= link_to event.name, { action: 'show', id: event.id } %></td>
  <td><%= event.members_count %></td>
  <td><%= event.price %></td>
  <td><time data-controller="time"><%= event.created_at.to_s(:rfc822) %></time></td>
  <td>
    <%= link_to t('event.admin.event_participants.index.title'), admin_event_event_participants_path(event), class: 'button is-small is-rounded is-light' %>
    <%= link_to admin_event_event_items_path(event), aria: { label: '课程内容' }, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-list"></i>
    <% end %>
    <%= link_to edit_admin_event_path(event), aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to admin_event_path(event), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
