<td><%= model.event_taxon&.name %></td>
<td><%= link_to model.name, { action: 'show', id: model.id } %></td>
<td><%= model.members_count %></td>
<td><%= model.price %></td>
<td><time data-controller="time"><%= model.created_at.to_s(:rfc822) %></time></td>
<td>
  <%= link_to t('model.admin.event_participants.index.title'), admin_event_event_participants_path(model), class: 'button is-small is-rounded is-light' %>
  <%= link_to admin_event_event_items_path(model), aria: { label: '课程内容' }, class: 'button is-small is-rounded is-light' do %>
    <i class="fa-light fa-list"></i>
  <% end %>
</td>
