<%= form_with model: model, url: { action: 'update' }, class: 'modal-card' do |f| %>
  <header class="modal-card-head">
    <p class="modal-card-title"><%= t('.title') %></p>
    <button type="button" data-action="modal#close" class="delete"></button>
  </header>
  <section data-controller="input" class="modal-card-body">
    <%= render 'error_messages', target: f.object if f.object.errors.present? %>
    <%= f.hidden_field :repeat_type, value: 'yearly' %>
    <%= f.date_select :repeat_days, discard_year: true %>
  </section>
  <footer class="modal-card-foot is-block">
    <%= f.submit %>
  </footer>
<% end %>
