<tr>
  <td class="text-right"><%= Eventual::Event.human_attribute_name(:event_taxon_id) %></td>
  <td><%= @event.event_taxon&.name %></td>
</tr>
<tr>
  <td class="text-right"><%= Eventual::Event.human_attribute_name(:title) %></td>
  <td><%= @event.name %></td>
</tr>
<tr>
  <td class="text-right"><%= Eventual::Event.human_attribute_name(:description) %></td>
  <td><%= simple_format(@event.description) %></td>
</tr>
<tr>
  <td class="text-right"><%= Eventual::Event.human_attribute_name(:created_at) %></td>
  <td><time data-controller="time"><%= @event.created_at.to_fs(:rfc822) %></time></td>
</tr>
