<%= render 'shared/error_messages', target: @event %>
<%= f.select :type, options_for_select(Event.options_i18n(:type), @event.type) %>
<div class="field is-horizontal">
  <%= f.label :event_taxon_id %>
  <div class="field-body">
    <%= f.collection_select :event_taxon_id, @event_taxons, :id, :name, label: false, wrap: { all: nil, select: 'field is-narrow > select is-fullwidth' } %>
    <%= link_to t('.new'), new_admin_event_taxon_path(return_to: request.path), class: 'button' %>
  </div>
</div>
<%= f.text_field :name %>
<%= f.number_field :price %>
<%= f.text_area :description %>
<%= f.submit %>
