<% content_for :breadcrumb do %>
  <%= render 'breadcrumb' %>
<% end %>

<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th class="one wide"><%= Event.human_attribute_name(:type) %></th>
      <th class="two wide"><%= Event.human_attribute_name(:event_taxon_id) %></th>
      <th class="five wide">
        <%= link_to Event.human_attribute_name(:name), filter_params('name-asc': 2, except: ['name-asc']) %>
      </th>
      <th class="one wide"><%= Event.human_attribute_name(:members_count) %></th>
      <th><%= Event.human_attribute_name(:price) %></th>
      <th class="one wide">
        <%= link_to Event.human_attribute_name(:created_at), filter_params('id-desc': 1, except: ['id-desc']) %>
      </th>
      <th class="two wide">
        <%= link_to new_admin_event_path, remote: true, class: 'ui mini primary button' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @events.each do |event| %>
    <tr>
      <td><%= event.type_i18n %></td>
      <td><%= event.event_taxon&.name %></td>
      <td><%= link_to event.name, admin_event_path(event) %></td>
      <td><%= event.members_count %></td>
      <td><%= event.price %></td>
      <td><time><%= event.created_at.to_s(:rfc822) %></time></td>
      <td>
        <%= link_to t('event.admin.event_participants.index.title'), admin_event_event_participants_path(event), class: 'ui mini circular icon button' %>
        <%= link_to admin_event_event_items_path(event), data: { tooltip: '课程内容' }, class: 'ui mini circular icon button' do %>
          <i class="list icon"></i>
        <% end %>
        <%= link_to edit_admin_event_path(event), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_event_path(event), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @events %>
