<% content_for :breadcrumb do %>
<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('event.admin.events.index.title'), admin_events_path %></li>
    <li><%= @event.name %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
<% end %>

<%= render 'nav_event' %>

<table class="table is-fullwidth">
  <thead>
  <tr>
    <th class="three wide"></th>
    <th>
      <%= link_to t('.edit'), edit_admin_event_path(@event), class: 'ui mini blue right floated button' %>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="has-text-right"><%= Event.human_attribute_name(:event_taxon_id) %></td>
    <td><%= @event.event_taxon&.name %></td>
  </tr>
  <tr>
    <td class="has-text-right"><%= Event.human_attribute_name(:title) %></td>
    <td><%= @event.name %></td>
  </tr>
  <tr>
    <td class="has-text-right"><%= Event.human_attribute_name(:type) %></td>
    <td><%= @event.type_i18n %></td>
  </tr>
  <tr>
    <td class="has-text-right"><%= Event.human_attribute_name(:description) %></td>
    <td><%= simple_format(@event.description) %></td>
  </tr>
  <tr>
    <td class="has-text-right"><%= Event.human_attribute_name(:created_at) %></td>
    <td><time><%= @event.created_at.to_s(:rfc822) %></time></td>
  </tr>
  </tbody>
</table>
