<% if rails_role_user.any_role?('event/admin') %>
<div class="item">
  <a class="<%= active_helper(modules: 'event/admin', active_class: 'title active', item_class: 'title') %>">
    <i class="fas fa-cog"></i>
    <span><%= t('event.admin.title') %></span>
    <i class="dropdown icon"></i>
  </a>
  <div class="<%= active_helper(modules: 'event/admin', active_class: 'menu content active', item_class: 'menu content') %>">
    <%= link_to t('event.admin.time_lists.index.title'), admin_time_lists_path, class: active_helper(controllers: ['time_lists']) %>
    <%= link_to t('event.admin.places.index.title'), admin_places_path, class: active_helper(controllers: ['places']) %>
    <%= link_to t('event.admin.crowds.index.title'), admin_crowds_path, class: active_helper(controllers: ['crowds']) %>
    <%= link_to t('event.admin.events.index.title'), admin_events_path, class: active_helper(controllers: ['events']) %>
    <%= link_to t('event.admin.plans.index.title'), admin_plans_path, class: active_helper(controllers: ['plans']) %>
  </div>
</div>
<% end %>
