<%= form_with theme: 'search', model: Member.new do |f| %>
  <div class="fields">
    <%= f.text_field :name %>
    <%= f.submit %>
    <%= link_to t('.clear'), filter_params(except: [:name]), class: 'ui button' %>
  </div>
<% end %>

<dl>
  <dt><%= EventParticipant.human_attribute_name(:state) %></dt>
  <dd>
    <%= link_to t('.all'), filter_params(except: ['state']), class: active_params(state: '', active_class: 'button is-info', item_class: 'button is-light') %>
    <% EventParticipant.options_i18n(:state).each do |text, state| %>
      <%= link_to text, filter_params(state: state), class: active_params(state: state, active_class: 'button is-info', item_class: 'button is-light') %>
    <% end %>
  </dd>
</dl>
