<% content_for :breadcrumb do %>
<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('event.admin.events.index.title'), admin_events_path %></li>
    <li><%= @event.name %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
<% end %>

<%= render 'nav_event' %>
<%= render 'filter_form' %>
<%= render 'filter_table' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= Profile.human_attribute_name(:name) %></th>
      <th><%= EventParticipant.human_attribute_name(:created_at) %></th>
      <th><%= EventParticipant.human_attribute_name(:state) %></th>
      <th><%= EventParticipant.human_attribute_name(:score) %></th>
      <th>
        <%= link_to find_data_list_table_lists_path('EventParticipantExport', params.permit(:event_id).merge(timestamp: @event.timestamp)), remote: true, class: 'button is-link is-small' do %>
          <i class="file excel icon"></i><%= t('.export') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @event_participants.each do |event_participant| %>
    <tr>
      <td><%= event_participant.member.real_name %></td>
      <td><time><%= event_participant.created_at.to_s(:rfc822) %></time></td>
      <td>
        <span><%= event_participant.state_i18n %></span>
        <% if event_participant.request_quit? %>
          <%= link_to 'Approve', quit_admin_event_event_participant_path(@event, event_participant), method: :patch %>
        <% end %>
        <% if ['request_quit', 'quit'].include? event_participant.state %>
          <span class="grey text">(<%= event_participant.quit_note %>)</span>
        <% end %>
      </td>
      <td>
        <%= event_participant.score %>
      </td>
      <td></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @event_participants %>
