<tr>
  <td>
    <%= image_tag crowd.logo, class: 'image is-24x24' if crowd.logo.present? %>
    <%= crowd.name %>
  </td>
  <td><%= crowd.crowd_members_count %></td>
  <td>
    <%= link_to admin_crowd_path(crowd), aria: { label: t('.show') }, class: 'button is-small is-rounded is-light', remote: true do %>
      <i class="fas fa-info"></i>
    <% end %>
    <%= link_to edit_admin_crowd_path(crowd), aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light', remote: true do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to admin_crowd_path(crowd), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
