<table class="ui very basic large table">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit'), edit_booking_admin_timetable_path(@timetable), class: 'ui mini blue right floated button', remote: true %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="right aligned"><%= Timetable.human_attribute_name(:kind) %></td>
      <td><%= @timetable.kind %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Timetable.human_attribute_name(:start_at) %></td>
      <td><%= @timetable.start_at %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Timetable.human_attribute_name(:finish_at) %></td>
      <td><%= @timetable.finish_at %></td>
    </tr>
  </tbody>
</table>
