<tr id="time_plan_<%= @plan.id %>">
  <td>
    <% if @plan.id %>
      <%= form_tag time_plan_path(@plan.plan_type, @plan.plan_id, @plan), method: :patch, id: 'time_plan_form' do %><% end %>
    <% else %>
      <%= form_tag time_plans_path(@plan.plan_type, @plan.plan_id), id: 'time_plan_form' do %><% end %>
    <% end %>
  </td>
  <td>
    <div class="ui input">
      <%= date_field_tag :'plan[begin_on]', @plan.begin_on, form: 'time_plan_form', data: { remote: true, url: time_plans_path(@plan.plan_type, @plan.plan_id) } %>
    </div>
  </td>
  <td>
    <%= select_tag :'plan[repeat_type]', options_for_select(TimePlan.options_i18n(:repeat_type), @plan.repeat_type || 'once'), { form: 'time_plan_form' } %>
  </td>
  <td>
    <%= select_tag :'plan[time_list_id]', options_from_collection_for_select(@time_lists, :id, :name, @plan.time_list_id), form: 'time_plan_form' %>
  </td>
  <td>
    <%= submit_tag t('.confirm'), class: 'button is-link is-small', form: 'time_plan_form' %>
  </td>
</tr>

