<tr>
  <td class="has-text-right"><%= TimePlan.human_attribute_name(:time_list_id) %></td>
  <td><%= @plan.time_list_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= TimePlan.human_attribute_name(:time_item_id) %></td>
  <td><%= @plan.time_item_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= TimePlan.human_attribute_name(:place_id) %></td>
  <td><%= @plan.place_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= TimePlan.human_attribute_name(:repeat_type) %></td>
  <td><%= @plan.repeat_type %></td>
</tr>
<tr>
  <td class="has-text-right"><%= TimePlan.human_attribute_name(:repeat_days) %></td>
  <td><%= @plan.repeat_days %></td>
</tr>
