<tr id="time_plan_<%= plan.id %>" class="<%= active_assert(plan.id == @plan.id, expected: 'active', unexpected: '') %>">
  <td>
    <%= form_tag time_plan_path(plan.plan_type, plan.plan_id, plan), method: :patch, remote: true, id: "time_plan_form_#{plan.id}" do %><% end %>
  </td>
  <td>
    <%= plan.begin_on %>
  </td>
  <td>
    <%= plan.repeat_type_i18n %>
  </td>
  <td>
    <%= plan.time_list&.name %>
  </td>
  <td>
    <%= link_to edit_time_plan_path(plan.plan_type, plan.plan_id, plan.id), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to time_plan_path(plan.plan_type, plan.plan_id, plan.id), aria: { label: '切换' }, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-hand-point-right"></i>
    <% end %>
  </td>
</tr>
